PORT=3000
FIVE9_BASE_URL=https://api.five9.com
FIVE9_USER=
FIVE9_PASS=
GHL_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\n<full GHL public key>\n-----END PUBLIC KEY-----"
ROUTES_PATH=./config/ghl.routes.json